@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 800;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);

    &.in {
        animation: fadeIn 0.3s ease;

        .content {
            animation: slideIn 0.3s ease;
        }
    }

    &.out {
        animation: fadeOut 0.3s ease;

        .content {
            animation: slideOut 0.3s ease;
        }
    }

    &.drag {
        cursor: move;
    }

    &.resize-top-left,
    &.resize-bottom-right {
        cursor: nwse-resize;
    }

    &.resize-top,
    &.resize-bottom {
        cursor: ns-resize;
    }

    &.resize-top-right,
    &.resize-bottom-left {
        cursor: nesw-resize;
    }

    &.resize-left,
    &.resize-right {
        cursor: ew-resize;
    }

    &.fullscreen {
        padding: 0;

        .content {
            height: 100%;
            max-width: none;
            border-radius: 0;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 100%;
        margin: auto;
        background-color: v.$white;
        border-radius: 8px;
        box-shadow: v.$shadow-md;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px 10px 25px;
        border-bottom: 1px solid v.$gray-200;
        user-select: none;

        @include m.mobile {
            padding: 15px 15px 15px 25px;
        }

        .title {
            font-size: 1.8rem;
            font-weight: 500;
            color: v.$blue-900;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .custom-title {
            height: 24px;
        }

        .actions {
            display: flex;
            gap: 5px;

            @include m.mobile {
                gap: 10px;
            }
        }

        button {
            svg {
                color: v.$slate-400;
            }

            &:hover svg {
                color: v.$blue-900;
            }
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
        padding: 20px 25px;

        @include m.desktop {
            &::-webkit-scrollbar {
                width: 14px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 8px;
                border: 4px solid transparent;
                background-clip: content-box;
                background-color: v.$gray-300;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: v.$gray-400;
            }
        }

        .description {
            color: v.$blue-900;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        padding: 20px 25px;
        border-top: 1px solid v.$gray-200;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes slideIn {
        from {
            transform: translateY(-10px);
        }

        to {
            transform: translateY(0px);
        }
    }

    @keyframes slideOut {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(-10px);
        }
    }
}
